<div id="notes">
  <script type="text/javascript">
    var notes = [];
    <% @notes.each_index do |i| %>
    notes[<%= i %>] = {id: <%= @notes[i].id %>, body: "<%= @notes[i].id %>";
    <% end %>
  </script>
</div>
<div id="desktop"></div>
<h1>Notepad</h1>
<h2 id='click_to_start'>(click anywhere to get started)</h2>